.naac-img {
  background: url(./images/login.jpeg);
  height: 380px;
  /* width: 700px; */
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  border: 1px solid darkred;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .naac-img {
    /* margin: 0px; */
    background-size: cover;
    height: 260px;
    /* Adjust the height for even smaller screens */
  }
}